repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo nextest run --workspace --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-doc
        name: cargo doc
        entry: bash -c 'RUSTDOCFLAGS="-D warnings" cargo doc --workspace --all-features --no-deps'
        language: system
        types: [rust]
        pass_filenames: false
