[package]
name = "ntp_usg"
version = "0.9.0"
authors = [
    "Jeff Belgum <jeffbelgum@gmail.com>",
    "John Willman <john.willman.1@us.af.mil>",
]
license = "Apache-2.0 OR MIT"
edition = "2024"
rust-version = "1.93"
description = "Library for parsing and communicating over Network Time Protocol."
documentation = "https://docs.rs/ntp_usg/"
homepage = "https://github.com/192d-Wing/ntp_usg"
repository = "https://github.com/192d-Wing/ntp_usg"
readme = "README.md"
keywords = ["protocol", "network", "time", "parser", "binary"]
categories = [
    "date-and-time",
    "network-programming",
    "parser-implementations",
    "encoding",
]

[lib]
name = "ntp"

[features]
default = []
tokio = ["dep:tokio"]
nts = ["dep:rustls", "dep:tokio-rustls", "dep:webpki-roots", "dep:aes-siv", "dep:rand", "tokio"]

[dependencies]
byteorder = "1.5"
log = "0.4"
tokio = { version = "1", features = ["net", "time", "sync", "io-util"], optional = true }
rustls = { version = "0.23", optional = true, default-features = false, features = ["std", "tls12", "ring"] }
tokio-rustls = { version = "0.26", optional = true, default-features = false, features = ["tls12"] }
aes-siv = { version = "0.7", optional = true }
rand = { version = "0.8", optional = true }
webpki-roots = { version = "0.26", optional = true }

[[example]]
name = "async_request"
required-features = ["tokio"]

[[example]]
name = "continuous"
required-features = ["tokio"]

[[example]]
name = "nts_request"
required-features = ["nts"]

[dev-dependencies]
chrono = "0.4"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "sync"] }
